html{
    scroll-behavior:smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  background-color: #f8fafc;
}
/* Hero Section */

.hero-section {
    min-height: 90vh;
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: white;
    padding: 80px 0;
}

.hero-section h1 {
    font-size: 4rem;
    font-weight: 700;
}

.hero-section h3 {
    color: #38bdf8;
}

.hero-section p {
    color: #cbd5e1;
    max-width: 550px;
}

.profile-image {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border: 5px solid white;
}

.btn-primary {
    border-radius: 30px;
    padding: 12px 28px;
}

.btn-outline-light {
    border-radius: 30px;
    padding: 12px 28px;
}

.hero-section .btn:hover {
    transform: translateY(-3px);
    transition: 0.3s;
}


/* ==========================
   Skills Section
========================== */

.skill-card{
    transition:0.3s;
    border:none;
    border-radius:15px;
}

.skill-card:hover{
    transform:translateY(-8px);
    box-shadow:0 12px 25px rgba(0,0,0,.2);
}

/* ==========================
   Projects Section
========================== */

.project-card{
    transition:0.3s;
    border:none;
    border-radius:15px;
}

.project-card:hover{
    transform:translateY(-8px);
    box-shadow:0 12px 25px rgba(0,0,0,.2);
}
/* Navbar */

.navbar{
    transition:.3s;
}

.nav-link{
    transition:.3s;
    font-weight:500;
}

.nav-link:hover{
    color:#0dcaf0 !important;
}

.navbar-brand{
    font-size:1.5rem;
}
.btn{
    transition:.3s;
}

.btn:hover{
    transform:translateY(-3px);
}
@media (max-width:768px){

.hero-section{
    text-align:center;
}

.hero-section h1{
    font-size:2.8rem;
}

.profile-image{

width:350px;

height:350px;

object-fit:cover;

border-radius:50%;

border:8px solid white;

box-shadow:0 15px 40px rgba(0,0,0,.4);

transition:.4s;

}

.profile-image:hover{

transform:scale(1.05);

}

.typing-text{
    color:#38bdf8;
    font-size:2rem;
    font-weight:600;
    min-height:60px;
}
.card-img-top{
    height:220px;
    object-fit:cover;
}

.project-card{
    transition:.35s;
    border:none;
    border-radius:20px;
    overflow:hidden;
}

.project-card:hover{
    transform:translateY(-10px);
    box-shadow:0 15px 35px rgba(0,0,0,.25);
}

.badge{
    font-size:.8rem;
    padding:8px 12px;
}
/* Certificate Cards */

.certificate-card{
    border:none;
    border-radius:20px;
    transition:.3s;
}

.certificate-card:hover{
    transform:translateY(-8px);
    box-shadow:0 15px 30px rgba(0,0,0,.2);
}

.certificate-card h5{
    font-weight:600;
}
.dark-theme{
    background:#0f172a;
    color:white;
    min-height:100vh;
    transition:.4s;
}

.light-theme{
    background:white;
    color:#1e293b;
    min-height:100vh;
    transition:.4s;
}

}